__pycache__/
*.pyc
.DS_Store
checkpoints/
.env
.ipynb_checkpoints/

Assignment2/data/cifar10/
*.tar.gz
Assignment2/data/cifar10/
*.tar.gz
Assignment2/data/cifar10/
*.tar.gz
Assignment2/data/cifar10/
Assignment2/data/
checkpoints/
__pycache__/
*.tar.gz
*.pth
*.pt
.DS_Store
